<div class="notice-container">
  <div class="notice-header">
    <button (click)="displayTermsOfServices()">+</button>
  </div>
  <div class="notice-info">
    <p>Read terms of services and privacy policy.</p>
  </div>
  <ng-template [ngIf]="display" [ngIfElse]="myTempVar">
    <div class="notice-body">
      <h1>Read terms of services and privacy policy.</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus quibusdam dolore nemo. Blanditiis vel natus exercitationem, rerum magnam nobis earum atque esse voluptas, quisquam soluta dignissimos placeat dolores nulla tenetur.
      </p>
      <h2>Terms of services</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus quibusdam dolore nemo. Blanditiis vel natus exercitationem, rerum magnam nobis earum atque esse voluptas, quisquam soluta dignissimos placeat dolores nulla tenetur.
      </p>
      <h2>Terms of services</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus quibusdam dolore nemo. Blanditiis vel natus exercitationem, rerum magnam nobis earum atque esse voluptas, quisquam soluta dignissimos placeat dolores nulla tenetur.
      </p>
    </div>
  </ng-template>
    <ng-template #myTempVar>
      <div class="notice-body">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus quibusdam dolore nemo. Blanditiis vel natus exercitationem, rerum magnam nobis earum atque esse voluptas, quisquam soluta dignissimos placeat dolores nulla tenetur.
        </p>
      </div>
    </ng-template>
</div>
